@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$font: "Poppins", sans-serif;
$color-black: #0f0f0f;
$color-white: #fff;
$color-main: #1dabad;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: $font;
}
html,
body {
    height: 100%;
}

section.home {
    background: $color-black;
    height: 100%;
    .content {
        padding: 0 16px;
        position: relative;
        top: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        background: $color-black;
        .container {
            display: flex;
            flex-direction: column;
            .info {
                display: flex;
                align-items: center;
                width: 100%;
                background: #ffffff15;
                padding: 3px 24px;
                border-radius: 4px 4px 0 0;
                h1 {
                    color: $color-white;
                    letter-spacing: 1px;
                    font-size: 20px;
                }
                span {
                    color: #e7e7e7;
                    font-weight: 600;
                    font-size: 16px;
                    justify-content: flex-end;
                    display: flex;
                    width: -webkit-fill-available;
                }
            }
            .list {
                display: flex;
                gap: 32px;
                background: #171d23;
                padding: 32px 24px;
                border-radius: 0 0 4px 4px;
                overflow-x: auto;
                .box {
                    height: 156px;
                    min-width: 256px;
                    background: #13181c;
                    border-radius: 4px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-white;
                    font-weight: 500;
                    text-transform: uppercase;
                    border-bottom: 4px solid transparent;
                    transition: 0.3s linear;
                    &:hover {
                        transform: scale(1.05);
                        border-bottom: 4px solid $color-main;
                    }
                }
            }
        }
    }
}

section.property {
    background: $color-black;
    height: 100%;
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        .heading {
            margin-top: 16px;
            h1 {
                color: $color-white;
                font-size: 24px;
                text-transform: uppercase;
            }
        }
        .preview {
            background: #171d23;
            border-radius: 4px;
            width: 456px;
            height: 156px;
            padding: 8px;
            display: flex;
            #prop {
                height: 64px;
                width: 64px;
                background: $color-white;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: .3s linear;
                &:hover {
                    background: $color-main;
                }
            }
        }
        .buttons {
            width: 456px;
            display: flex;
            gap: 16px;
            flex-direction: column;
            button {
                width: 100%;
                height: 42px;
                border-radius: 4px 4px 0 0;
                color: $color-black;
                background: $color-white;
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
                position: relative;
                transition: 0.3s linear;
                &::before {
                    position: absolute;
                    height: 6px;
                    bottom: -6px;
                    border-radius: 0 0 4px 4px;
                    left: 0;
                    width: 100%;
                    content: "";
                    background: #e3e3e3;
                    transition: 0.3s linear;
                }
                &:focus {
                    background: $color-main;
                    color: $color-white;
                    &::before {
                        background: #159496;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: $color-black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $color-main;
}

@media screen and (max-width: 796px) {
    section.home {
        .content {
            padding: 4px;
            .container {
                .info {
                    padding: 8px;
                    h1 {
                        font-size: 16px;
                    }
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    section.property {
        .content {
            .preview {
                width: calc(100% - 32px);
            }
            .buttons {
                display: flex;
                justify-content: center;
                margin: auto;
                align-items: center;
                width: 100%;
                button {
                    width: calc(100% - 32px);
                }
            }
        }
    }
}
