@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* NAVBAR STYLING */

nav {
	height: 80px;
	font-family: "Poppins", sans-serif;
	z-index: 1;
}
label.logo {
	line-height: 80px;
	padding: 0 100px;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	padding: 7px 13px;
}
nav a.active,
nav a:hover {
	background: var(--blue-800);
	transition: 0.5s;
}
.checkbtn {
	font-size: 30px;
	float: right;
	line-height: 80px;
}

@media (max-width: 952px) {
	label.logo {
		font-size: 20px;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 16px;
	}
}
@media (max-width: 980px) {
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: var(--black-800);
		top: 80px;
		left: -100%;
		text-align: center;
        z-index: 1;
		transition: all 0.5s;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover,
	a.active {
        background: none;
		color: var(--white-800);
	}
	#check:checked ~ ul {
		left: 0;
	}
}

/* HOME SECTION STYLING */

section {
	font-family: "Poppins", sans-serif;
}
span.gradient {
    background: -webkit-linear-gradient(var(--cyan-100), var(--blue-100));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.home p a:hover {
    color: var(--white-100);
}
.home button#icon:hover {
    transform: translateY(-10px);
  background: 
    linear-gradient(to right, var(--black-800), var(--black-800)), 
    linear-gradient(to right, var(--cyan-100) , var(--blue-100)); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
button#more:hover {
    background: var(--blue-500);
}


.lang {
	z-index: 1;
	pointer-events: none;
}
.lang.show {
	opacity: 1;
	pointer-events: all;
}
.lang div i {
	line-height: 128px;
}
.lang div p, .lang div i {
	color: var(--white-900);
}
.lang div:hover {
	background: var(--black-900);
}
.lang div.active, .lang div:hover {
	border-color: var(--blue-500);
}

@media screen and (max-width: 768px) {
    .home h1 {
        font-size: 38px;
    }
	.lang {
		width: calc(100% - 25px);
	}
	.home div p {
		font-size: .8rem;
	}
}

/* PRICING SECTION STYLING */
div#box {
    height: 196px;
}

.box:hover {
	background: var(--black-500)
}
.box:hover p {
	transform: translateY(-50px);
	color: var(--blue-100);
}
.box:hover h1 {
	opacity: 1;
}
.box p {
	background: -webkit-linear-gradient(var(--cyan-100), var(--blue-100));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.box p#graphics {
	background: -webkit-linear-gradient(var(--green-900), var(--green-000));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.box h2:hover span {
	transform: translateX(10px);
	opacity: 1;
}
.pricing div {
	flex-wrap: wrap;
}
.pricing div div {
	flex: 1 0 30%;
}

@media screen and (max-width: 1124px) {
	.pricing div div {
		flex: 1 0 33%;
	}
}
@media screen and (max-width: 768px) {
	.boxes {
		width: calc(100% - 30px);
		flex-wrap: wrap;
	}
	.box {
		width: 100%;
		background: var(--black-300);
	}
	.pricing div div {
		flex: 1 0 100%;
	}
}


/* SKILLS SECTION STYLING */
.value {
	justify-content: right;
	text-align: right;
	right: 0;
}

@media screen and (max-width: 768px) {
	.skills-box {
		width: calc(100% - 10px);
		background: var(--black-300);
	}
}
svg {
	z-index: -1;
}
.gradient-bc {
	background: linear-gradient(to right, var(--blue-100), var(--blue-900)); 
}


/* PROJECTS SECTION STYLING */
.projects-box {
	flex-wrap: wrap;
}
.projects-box div {
	flex: 0 0 30%;
	overflow: hidden;
	height: 195px;
}
.projects-box div img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.projects-box div:hover img {
	transform: scale(1.1);
}


@media screen and (max-width: 768px) {
	.projects-box div {
		flex: 0 0 90%;
		width:auto;
		height: auto;
	}
}

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--blue-900);
}


/* FOOTER SECTION STYLING */
.footer {
	padding: 2rem 0;
	font-family: 'Poppins', sans-serif;
}

/* REVEAL EFFECTS STYLING */

.rotate {
	position: relative;
	transform: rotate(180deg);
	opacity: 0;
	transition: all 1s ease;
}

.rotate.active {
	transform: rotate(0);
	opacity: 1;
}

.drop {
	position: relative;
	transform: scale(0.7);
	opacity: 0;
	transition: all 1s ease;
}

.drop.active {
	transform: scale(1);
	opacity: 1;
}

.reveal {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: all .4s ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

/* USED SECTION STYLING */
.used div p#html i:hover {
	color: var(--orange-400);
}
.used div p#css i:hover {
	color: var(--blue-400);
}
.used div p#js i:hover {
	color: var(--yellow-400);
}
.used div p#python i:hover {
	color: var(--blue-200);
}

@media screen and (max-width: 768px) {
	.used div p a {
		color: var(--black-000);
	}
}

/* LATEST SECTION STYLING */
.latest {
	font-family: 'Poppins', sans-serif;
}
.latest-content {
	overflow: hidden;
}
.latest-content img {
	filter: blur(0);
	object-fit: cover;
}
.latest-content img:hover {
	filter: blur(2px);
	transform: scale(1.05);
}
.latest-content + h1 {
	pointer-events: none;
}
.latest-content:hover + h1 {
	opacity: 1;
}
.active-dot {
	background: var(--blue-500);
}

@media screen and (max-width: 768px) {
	.latest-content {
		width: calc(100% - 25px);
	}
	#dot1,#dot2,#dot3 {
		height: 28px;
		width: 28px;
	}
}


/* BLOG SECTION STYLING */
.blog-box {
	height: 212px;
}
.blog-left {
	width: 212px;
}

div.box {
	border: 2px solid transparent;
}
div.box:hover {
	border: 2px solid var(--blue-500);
}
div.graphics-box:hover {
	border: 2px solid var(--green-500);
}